<p>Given an item and a zipcode, find the nearest x(given) locations within x(given) miles radius.</p> 
<p>(Use an external api - http://www.geonames.org/export/web-services.html#findNearbyPostalCodes) </p>
<br>
<div class="container">
    <div [hidden]="submitted">        
        <form (ngSubmit)="findProductsByNameAndZipcodeNearest()" #productForm="ngForm">
            <div class="form-group">
                <label for="name">Product or Dept Name</label>
                <input type="text" class="form-control" id="nameSearch"
                        required (keyup.enter)="findProductsByNameAndZipcodeNearest()"
                        [(ngModel)]="nameSearch" name="nameSearch" #pname="ngModel">
                <div [hidden]="pname.valid || pname.pristine" class="alert alert-danger">
                        Product or Dept Name is required
                </div>
            </div>

            <div class="form-group">
                <label for="zipCode">Zipcode</label>
                <input type="text" class="form-control" id="zipCode"
                        [(ngModel)]="zipCode" name="zipCode">
            </div> 
            <div class="form-group">
                <label for="power">Distance</label>
                <select class="form-control" id="radius"
                        required
                        [(ngModel)]="distance" name="radius"                    >
                    <option *ngFor="let pow of distances" [value]="pow">{{pow}}</option>
                </select>            
            </div>
            <button type="submit" class="btn btn-success" [disabled]="!productForm.form.valid">Submit</button>
        </form>
    </div>
</div> 

<div *ngIf = "items; else elseBlock">
    <div class="Table">
        <div class="Title">
            <p>Item Found</p>
        </div>
        <div class="Heading">
            <div class="Cell" [appSort] = "items" data-order="desc" data-name="1" tooltip="Click to sort Product Name" placement="top">
                <p>Product Name</p> 
            </div>
            <div class="Cell" [appSort] = "items" data-order="desc" data-name="3" tooltip="Click to sort Dept Name" placement="top">
                <p>Dept Name</p>
            </div>
            <div class="Cell" [appSort] = "items" data-order="desc" data-name="5" tooltip="Click to sort Location" placement="top">
                <p>Location</p>
            </div>
            <div class="Cell" [appSort] = "items" data-order="desc" data-name="6" tooltip="Click to sort Zipcode" placement="top">
                <p>Zipcode</p>
            </div>
            <div class="Cell" [appSort] = "items" data-order="desc" data-name="7" tooltip="Click to sort Availability" placement="top">
                <p>Availability</p>
            </div>
        </div>
        <ng-template [ngIf] = "items">
            <div class="Row" *ngFor = "let item of items | paginate: { itemsPerPage: pageSize, currentPage: p }">
                <div class="Cell">
                    <p>{{item[1]}}</p>
                </div>
                <div class="Cell">
                    <p>{{item[3]}}</p>
                </div>
                <div class="Cell">
                    <p>{{item[5]}}</p>
                </div>
                <div class="Cell">
                    <p>{{item[6]}}</p>
                </div>
                <div class="Cell">
                    <p>{{item[7]}}</p>
                </div>
            </div>  
        </ng-template>  
    </div>
    
    <div class="container">
        <div class="row" style="text-align: center;">
            <pagination-controls (pageChange)="p = $event" ></pagination-controls>
        </div>
        <div class="row" style="text-align: center;">
            Items Per Page:  
            <select  class="custom-select" [(ngModel)]="pageSize" (change)="itemsPerPageChange()">
                <option *ngFor="let i of itemsPPageArray" [ngValue]="i">{{i}}</option>
            </select>        
        </div>
    </div>
</div>

<ng-template #elseBlock>
    <div class="container" *ngIf = "isShowTable">
        <div class="row" style="text-align: center;">
            <p class="text-danger" style="font-weight: bold; font-size: larger;">Item Not Found </p>
        </div> 
    </div>    
</ng-template>